:root {
  --dark-grey: #484848;
  --btn-bg: #e0e0e0;
  --btn-hover: #99b490;
  --btn-warning: #d4b393;
  --btn-danger: #d49a93;
  --grayish-green: #455745;
  --calculator-bg: #202020;
  --current-item: #e6e3dd;
  --previous-item: #b9b9b9;
}

* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(180, 167, 172);
  background: linear-gradient(
    137deg,
    rgb(128, 124, 125) 0%,
    rgb(236, 234, 221) 100%
  );
}

.container {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.calculator {
  display: grid;
  border-radius: 1rem;
  width: 22rem;
  height: 33rem;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(6, 5rem);
  background-color: var(--calculator-bg);
}

.calculator > button {
  border: none;
  border-bottom: 0.4rem solid var(--dark-grey);
  margin: 0.2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: var(--btn-bg);
  transition: all 0.2s ease;
}

.calculator > button:hover {
  cursor: pointer;
  background-color: var(--btn-hover);
}

.clear-all,
.delete-one {
  grid-column: span 2;
}

.calculator .clear-all:hover,
.calculator .delete-one:hover {
  background-color: var(--btn-danger);
}

.calculator .clear-all {
  background-color: var(--btn-warning);
}

.output {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  margin-bottom: 5px;
  font-size: 1.4rem;
  background-color: var(--grayish-green);
  border-radius: 1rem;
}

.output .current-element {
  color: var(--current-item);
}

.output .previous-element {
  color: var(--previous-item);
}
